<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{color:red;}
        </style>
        <nav>
            <div align = "left"><a href="/">Home</a>
            <a href="/blog">All Posts</a>
            <a href="/newpost">New Post</a></span>
            </div>
            <div align = "right"><a href="/login">Login</a>
            <a href="/logout">Logout</a>
            </div>
        </nav>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

{% block content %}
{% endblock  %}

    </body>
</html>