{% extends 'base.html' %}
{% block content %}

    <h1 align = "center">New Post</h1>

    <form action='/newpost' method='POST'>
        <label><h3>Title for your new blog:</label></h3>
        <input type='text' name='title' value='{{ title }}'>
        <span class='error'>{{title_error}}</span>
        <br>
        <label><h3>Your new blog:</label></h3>
        <textarea name='body'>{{ body }}</textarea>
        <span class='error'>{{body_error}}</span>
        <br>
        <input type='submit' value='Add Blog!'>
    </form>
{% endblock %}